{% load crispy_forms_tags %}
<div class="row mb-3 book-form-row">
{% for field in form %}
    {% if field.is_hidden %}
        {{ field }}
    {% elif field == form.DELETE %}
        <div class="col-md d-flex align-items-center justify-content-start">
            <button type="button" id="{{ form.prefix }}-DELETE" class="delete-row btn btn-outline-danger" hx-post="{% url 'myapp:remove_book_form_view' %}" hx-vals="js:{'index': '{{index}}'}" hx-target="#add-book-form-container" hx-swap="innerHTML">
                <i class="bi bi-trash"></i> {{ form.DELETE.label }}
            </button>
        </div>
    {% else %}
        <div class="col-md-3">
            {{ field|as_crispy_field }}
        </div>
    {% endif %}
{% endfor %}
</div>   