{% load crispy_forms_tags %}

{{ formset.management_form }}
<div>

    {% for formset_error in formset.non_form_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ formset_error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% for form in formset %}
        <div class="mb-3 card">
            <div class="card-body row">
                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% elif field == form.DELETE %}
                        <div class="col-md d-md-block d-grid align-self-center pt-3">
                            {% if forloop.parentloop.first and formset.total_form_count == 1 %}
                                <button type="button" id="{{ form.prefix }}-DELETE" class="delete-row btn btn-outline-secondary" disabled>
                                    <i class="bi bi-trash"></i>
                                </button>
                            {% else %}
                                <button type="button" id="{{ form.prefix }}-DELETE" class="delete-row btn btn-outline-danger" hx-post="{% url 'myapp:remove_book_formset_view' %}" hx-vals="js:{'index': '{{forloop.parentloop.counter0}}', 'object_id': '{{object.id}}'}" hx-confirm="Are you sure you wish to delete this row?" hx-target="#add-book-formset-container" hx-swap="innerHTML">
                                    <i class="bi bi-trash"></i>
                                </button>
                            {% endif %}
                        </div>
                    {% else %}
                        {% if field.label == 'Book' %}
                        <div class="col-md-4">
                            <div class="d-flex">
                                <div class="flex-grow-1">
                                    {{ field|as_crispy_field }}
                                </div>
                                <div class="align-self-center pt-3 ms-2">
                                    <button
                                        type="button"
                                        class="btn btn-outline-primary"
                                        hx-get="{% url 'myapp:store_add_book_form_view' %}?target_formset=id_{{form.prefix}}-book"
                                        hx-target="#offcanvas-here"
                                        hx-on:click="document.body.style.overflow = 'hidden';document.body.style.paddingRight = '15px';"
                                    >
                                        <i class="bi bi-plus"></i>
                                    </button>
                                    <!-- <a
                                        class="btn btn-outline-primary"
                                        href="{% url 'myapp:store_add_book_form_view' %}?target_formset=id_{{form.prefix}}-book"
                                        target="_blank"
                                        rel="noopener noreferrer" >
                                        <i class="bi bi-plus"></i>
                                    </a> -->
                                    <!-- <button
                                        type="button"
                                        class="btn btn-outline-primary"
                                        hx-on:click="openAddBookWindow('id_{{form.prefix}}-book')"
                                    >
                                        <i class="bi bi-plus"></i>
                                    </button> -->
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-md-3">
                            {{ field|as_crispy_field }}
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>