{% extends "base.html" %}
{% load static %}

{% block title %}
Person List
{% endblock %}

{% block styles %}
<link href="https://cdn.datatables.net/select/3.0.1/css/select.dataTables.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<h1>Person List</h1>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}

<div>
    <a href="{% url 'myapp:person_create_view' %}" class="btn btn-outline-primary">Add Person</a>
    <table class="table table-hover" id="person-datatable">
        <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}

<script src="https://cdn.datatables.net/select/3.0.1/js/dataTables.select.js"></script>
<script src="https://cdn.datatables.net/select/3.0.1/js/select.dataTables.js"></script>

<script>
    $(document).ready(function () {
        "use strict";
        let storedPageStart = parseInt(localStorage.getItem("person_datatable_page_start") || 0);
        let storedPageLength = parseInt(localStorage.getItem("person_datatable_page_length") || 5);
        
        let table = $("#person-datatable").DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: "{% url 'myapp:person_api_view' %}",  // Backend endpoint
                type: "GET",
                data: function (d) {
                    console.log("d",d);
                    
                    storedPageStart = storedPageStart == d.start ? storedPageStart : d.start;
                    storedPageLength = storedPageLength == d.length ? storedPageLength : d.length;
                    return {
                        start: storedPageStart,
                        length: storedPageLength,
                        draw: d.draw,  // Send the draw value to the server
                        // start: d.start,  // DataTables handles pagination
                        // length: d.length,  // Number of records per page
                        search: d.search.value || "",  // Correct search field
                        order_column: d.order[0].column,  // Send order column index
                        order_dir: d.order[0].dir  // Send order direction (asc/desc)
                    };
                },
                // dataFilter: function (data) {
                //     let json = JSON.parse(data);
                //     return JSON.stringify({
                //         // draw: json.draw,  // Return the same draw value
                //         recordsTotal: json.recordsTotal,  // Total records
                //         recordsFiltered: json.recordsFiltered,  // Filtered count
                //         data: json.data  // Data array
                //     });
                // },
            },
            language: {
                paginate: {
                    previous: "<i class='mdi mdi-chevron-left'></i>", 
                    next: "<i class='mdi mdi-chevron-right'></i>"
                },
                // info: "Showing jobcards _START_ to _END_ of _TOTAL_",
                lengthMenu: 'Display <select class="form-select form-select-sm mx-1">' +
                            '<option value="5">5</option>' +
                            '<option value="10">10</option>' +
                            '<option value="20">20</option>' +
                            '<option value="50">50</option>' +
                            "</select> jobcards",
            },
            pageLength: storedPageLength,
            displayStart: storedPageStart,
            columns: [
                // { 
                //     data: null,
                //     orderable: false,
                //     render: () => '<input type="checkbox" class="dt-checkboxes">'
                // },
                {data: null, orderable: false, searchable: false, render: DataTable.render.select()},
                { 
                    data: "id", render: (data, type, row) => {
                        let detailUri = `{% url 'myapp:person_update_view' '0' %}`.replace('0', row.id);
                        return `<a href="${detailUri}">${data}</a>`
                    },
                },
                { data: "first_name" },
                { data: "last_name" },
                { data: "role" },
                { 
                    data: null,
                    orderable: false,
                    render: function (data, type, row) {
                        // console.log("data", data);
                        // console.log("type", type);
                        // console.log("row", row);
                        
                        let editUri = `{% url 'myapp:person_update_view' '0' %}`.replace("0", row.id);
                        
                        return `<div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-soft-primary" href="${editUri}">
                                        <i class="ri-pencil-fill font-16 me-1"></i> Edit
                                    </a>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-soft-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><span class="caret"></span> </button>
                                        <div class="dropdown-menu">
                                            
                                            
                                            <a class="dropdown-item" href="#">
                                                <i class="ri-download-2-line font-16 me-1"></i>
                                                Export as PDF
                                            </a>
                                        </div>
                                    </div>
                                </div>`;
                    } 
                },  // Actions column
            ],
            select: { style: "multi" },
            order: [[1, "desc"]],
            drawCallback: function () {
                $(".dataTables_paginate > .pagination").addClass("pagination-rounded");
                $(".dataTables_wrapper .row .col-md-6").each(function () {
                    $(this).addClass("col-sm-6").removeClass("col-sm-12 col-md-6");
                });
                $(".dataTables_wrapper .dataTables_filter").addClass("pt-1 me-1");
                $(".dataTables_wrapper .dataTables_length").addClass("pt-1");
                
                let info = table.page.info();
                let totalRecords = info.recordsDisplay;
                console.log("totalRecords", totalRecords);
                
                
                // If last record on the last page is deleted, move to the previous page
                if (storedPageStart >= totalRecords) {
                    storedPageStart = Math.max(0, storedPageStart - storedPageLength);
                }
                
                localStorage.setItem("person_datatable_page_start", storedPageStart);
                localStorage.setItem("person_datatable_page_length", storedPageLength);
                
                // Update info display manually to prevent "6 to 5 of 5" issue
                $(".dataTables_info").text(`Showing jobcards ${storedPageStart + 1} to ${Math.min(info.end, totalRecords)} of ${totalRecords}`);
            },
        });
        
    });
</script>
{% endblock %}
