{% extends "base.html" %}
{% load static %}

{% block title %}
Person List
{% endblock %}

{% block content %}
<h1>Person List</h1>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="mb-2">
    <a href="{% url 'myapp:person_create_view' %}" class="btn btn-outline-primary">Add Person</a>
    <table class="table table-sm table-hover" id="person-datatable">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}

<script>
    $(document).ready(function () {
        "use strict";
        
        let table = $("#person-datatable").DataTable({
            processing: true,
            serverSide: true,
            responsive: true,
            ajax: {
                url: "{% url 'myapp:person_api_view' %}",  // Backend endpoint
                type: "GET",
            },
            language: {
                lengthMenu: `Display 
                    <select class="form-select form-select-sm mx-1">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select> persons
                `,
            },
            columns: [
                { 
                    data: "id", render: (data, type, row) => {
                        let detailUri = `{% url 'myapp:person_update_view' '0' %}`.replace('0', row.id);
                        return `<a href="${detailUri}">${data}</a>`
                    },
                },
                { data: "first_name" },
                { data: "last_name" },
                { data: "role_name" },
                { 
                    data: null,
                    orderable: false,
                    render: function (data, type, row) {
                        let editUri = `{% url 'myapp:person_update_view' '0' %}`.replace("0", row.id);
                        
                        return `<div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-primary" href="${editUri}">
                                        <i class="bi bi-pencil font-16 me-1"></i> Edit
                                    </a>
                                </div>`;
                    } 
                },  // Actions column
            ],
            order: [[0, "desc"]],
            stateSave: true,
            "columnDefs": [
                {
                    "targets": '_all',
                    "orderSequence": ["asc", "desc"] // ONLY allow asc/desc
                }
            ],
        });
    });
</script>
{% endblock %}
