<nav class="navbar fixed-top" style="background-color: #e3f2fd;" data-bs-theme="light">
    <div class="container-fluid">
        <div class="d-flex">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="{% url 'myapp:dashboard_view' %}" class="mx-3 h4 navbar-brand">Django HTMX</a>
        </div>
        <!-- <a class="navbar-brand" href="#">Offcanvas navbar</a> -->
        <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Django HTMX</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a href="{% url 'myapp:person_list_view' %}" class="nav-link {{ person_nav }}" aria-current="page">Person</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'myapp:publisher_list_view' %}" class="nav-link {{ publisher_nav }}" aria-current="page">Publisher</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'myapp:book_list_view' %}" class="nav-link {{ book_nav }}" aria-current="page">Book</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'myapp:store_list_view' %}" class="nav-link {{ store_nav }}" aria-current="page">Store</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>