{% load crispy_forms_tags %}

{{ formset.management_form }}
<div class="row" id="add-book-form">
    {% if formset.non_form_errors %}
    <div class="alert alert-danger">
        {{ formset.non_form_errors }}
    </div>
    {% endif %}
    {% for form in formset %}
        <div class="row mb-3 book-form-row">
            {% for field in form %}
                {% if field.is_hidden %}
                    {{ field }}
                {% elif field == form.DELETE %}
                    <div class="col-md d-flex align-items-center justify-content-start">
                        <a href="javascript:void(0);" type="button" id="{{ form.prefix }}-DELETE" class="delete-row btn btn-outline-danger">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                {% else %}
                    <div class="col-md-3">
                        {{ field|as_crispy_field }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>