{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Create Store
{% endblock %}

{% block content %}
<h1>Create Store</h1>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}

non_field_errors: {{form.non_field_errors}}
{% if form.non_field_errors %}
<div class="messages">
    {% for message in form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}

<form action="{% url 'myapp:store_create_view' %}" method="post" novalidate>
    {% csrf_token %}
    {% for field in form %}
        {{ field|as_crispy_field }}
    {% endfor %}
    <div id="add-book-form-container">
        {% include "myapp/store/add_book_form.html" with formset=formset %}
    </div>
    <div>
        <button type="button" class="btn btn-outline-primary my-2" id="add-book-form-button" hx-get="{% url 'myapp:add_book_form_view' %}" hx-vals="js:{'index': document.getElementById('id_{{formset.prefix}}-TOTAL_FORMS').value}" hx-target="#add-book-form-container" hx-swap="innerHTML">+Add More Items</button>
    </div>

    <button type="submit" class="btn btn-outline-primary my-2">Save</button>
    <a href="{% url 'myapp:book_list_view' %}" class="btn btn-outline-secondary my-2">Cancel</a>
</form>

<div id="modals-here"
    class="modal fade"
    aria-labelledby="modalHereLabel"
    aria-hidden="true"
    style="display: none"
    tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const modalElement = document.getElementById('modals-here');
        const modal = bootstrap.Modal.getOrCreateInstance(modalElement);
        // const modal = new bootstrap.Modal(modalElement);
        
        // Handle modal closing
        document.addEventListener('closemodal', function() {
            console.log(modal._isShown);
            // modalElement.setAttribute('aria-hidden', 'true');
            // modalElement.removeAttribute('aria-modal');
            // modalElement.removeAttribute('tabindex');
            
            // Handle modal hidden
            modal.hide();
        });

        document.addEventListener('update_formset_item_url', function() {
            // console.log('update_formset_item_url', {{ formset.total_form_count }});
            // const totlaFormsCount = document.getElementById('id_{{formset.prefix}}-TOTAL_FORMS');
            // console.log('totlaFormsCount', totlaFormsCount);
            // const addBookFormButton = document.getElementById('add-book-form-button');
            // const oldHxGetUrl = addBookFormButton.getAttribute('hx-get');
            // console.log('oldHxGetUrl', oldHxGetUrl);
            // const newHxGetUrl = "{% url 'myapp:add_book_form_view' %}?index=" + totlaFormsCount.value;
            // addBookFormButton.setAttribute('hx-get', newHxGetUrl);
        });
    });
</script>
{% endblock %}