{% load crispy_forms_tags %}

<form hx-post="{% url 'myapp:add_publisher_form_view' %}" hx-target="#id_publisher" hx-swap="beforeend" novalidate>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title">Add Publisher</h5>
            </div>
            <div class="modal-body">
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                
                {{ form|crispy }}
            </div>
            <div class="modal-footer">
                <button type="button" id="close-modal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>
